body {
    /* Source: This pattern was downloaded from www.subtlepatterns.com and created by Myriam Lefebvre (Her website: https://myriamlefebvre.ca/).*/
    background-image: url("assets/images/embossed-diamond.png");
}

.main {
    background-color: aliceblue;
    max-width: 960px;
    margin: 0 auto;
    border-top: solid 5px rgb(190, 210, 226);
    border-bottom: solid 5px rgb(112, 127, 141);
    border-left: solid 5px rgb(143, 164, 182);
    border-right: solid 5px rgb(143, 164, 182);
    border-radius: 25px;
}

#middleContent {
    min-height: 225px;
}


#bottomContent {
    height: 100px;
}

.btn {
    margin: 15px 5px 0px;
}

#timer {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-size: x-large;
}